In [11]:
from id3 import Id3Estimator
from id3 import export_graphviz
from id3 import Id3Estimator
estimator = Id3Estimator()
import pandas as pd
from sklearn import tree 
import graphviz
from id3 import export_graphviz
from sklearn import metrics as sm

# Task-5

In [3]:
train_df=pd.read_csv(r'C:\Users\chat2\OneDrive\Desktop\MachineLearning\HW-3\task5_train.csv')
train_df.head()
test_df=pd.read_csv(r'C:\Users\chat2\OneDrive\Desktop\MachineLearning\HW-3\task5_test.csv')
test_df

    ID Is_Home_or_Away Is_Opponent_in_AP25_Preseason Media Label
0   25            Home                           Out   NBC   Win
1   26            Home                            In   NBC  Lose
2   27            Away                           Out  ESPN   Win
3   28            Away                           Out   FOX   Win
4   29            Home                           Out   NBC   Win
5   30            Away                           Out   ABC   Win
6   31            Home                            In   NBC   Win
7   32            Home                           Out   NBC   Win
8   33            Home                           Out   NBC   Win
9   34            Away                            In   ABC  Lose
10  35            Home                           Out   NBC   Win
11  36            Away                            In   ABC  Lose

In [35]:
train_df_encoded=pd.get_dummies(train_df,columns=['Is_Home_or_Away','Is_Opponent_in_AP25_Preseason','Media','Label'])
X=train_df_encoded.iloc[:,:-2]
Y=train_df_encoded.iloc[:,-1:]
test_df_encoded=pd.get_dummies(test_df,columns=['Is_Home_or_Away','Is_Opponent_in_AP25_Preseason','Media','Label'])
X_T=train_df_encoded.iloc[:,:-2]
Y_T=train_df_encoded.iloc[:,-1:]

In [36]:
estimator.fit(X,Y,check_input=True)
export_graphviz(estimator.tree_, 'tree.dot', X.columns)

C:\Users\chat2\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
ypred=estimator.predict(X_T)
ypred
#dot -Tpdf tree.dot -o tree.pdf

ValueError: Number of features of the model must match the input. Model n_features is 10 and input n_features is 9.

## Task-4

In [38]:
train_df_1=pd.read_csv(r'C:\Users\chat2\OneDrive\Desktop\MachineLearning\HW-3\task_4_1_train.csv')

test_df_1=pd.read_csv(r'C:\Users\chat2\OneDrive\Desktop\MachineLearning\HW-3\task_4_1_test.csv')

train_df_2=pd.read_csv(r'C:\Users\chat2\OneDrive\Desktop\MachineLearning\HW-3\task_4_2_train.csv')

test_df_2=pd.read_csv(r'C:\Users\chat2\OneDrive\Desktop\MachineLearning\HW-3\task_4_2_test.csv')

## Task 4 - 1

In [39]:
train_df_encoded_1=pd.get_dummies(train_df_1,columns=['HomeOrAway','InOrOut','Media','Label'])
test_df_encoded_1=pd.get_dummies(test_df_1,columns=['HomeOrAway','InOrOut','Media'])
X_1=train_df_encoded_1.iloc[:,:-2]
Y_1=train_df_encoded_1.iloc[:,-1:]
X_1.shape
train_df_encoded_1.columns[:-2]
Y_1.columns

Index(['Label_Win'], dtype='object')

In [42]:
estimator.fit(X_1,Y_1,check_input=True)
export_graphviz(estimator.tree_, 'tree_4_1.dot', X_1.columns)

C:\Users\chat2\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [43]:
ypred=estimator.predict(test_df_encoded_1)
ypred

array([0, 0, 1, 1, 1, 1], dtype=uint8)

## Task 4 -2

In [49]:
train_df_encoded_2=pd.get_dummies(train_df_2,columns=['Outlook','Temperature','Humidity','Windy','Label'])
#test_df_encoded_2=pd.get_dummies(test_df_2,columns=['id','Temperature','Humidity','Windy'])
X_2=train_df_encoded_2.iloc[:,:-2]
Y_2=train_df_encoded_2.iloc[:,-1:]
# X_2.shape
# train_df_encoded_2.columns[:-2]
# Y_2.columns
# test_df_2
X_2.head()

,id,Outlook_Overcast,Outlook_Rainy,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Temperature_Mild,Humidity_High,Humidity_Normal,Windy_False,Windy_True
0,1,0,0,1,0,1,0,1,0,1,0
1,2,0,0,1,0,1,0,1,0,0,1
2,3,1,0,0,0,1,0,1,0,1,0
3,4,0,1,0,0,0,1,1,0,1,0
4,5,0,1,0,1,0,0,0,1,1,0

In [46]:
estimator.fit(X_2,Y_2,check_input=True)
export_graphviz(estimator.tree_, 'tree_4_2.dot', X_2.columns)

C:\Users\chat2\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)